/error.log
/node_modules/
/.env
.idea
/.nyc_output/
.DS_Store
/package-lock.json
.vscode/
*.http
docusign_private.key
magicauth_private.key
magicauth_public.pem
fdr-gateway*.json
/.env.old
/hm2/testJump.js
/.envProd
/hm2/profiles/testLock.js
/hm2/test.js
/scheduler.env
